<style>

</style>

<div class="body-div-index">
  <header class="index-header">
    <!-- Navbar -->
    <nav class="container navbar navbar-expand-md navbar-dark">
      <!-- Logo -->
      <a
        href="#inicio"
        class="d-flex justify-content-center me-md-auto mb-3 mb-md-0"
      >
        <img
          id="logo"
          src="img/img-logo-innova.png"
          alt="Innova"
          class="me-4"
        />
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto d-flex">
          <li class="nav-item">
            <a class="nav-link active" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- Sección Principal con Slider -->
  <section class="carousel">
    <div class="list">
      <div class="item">
        <figure>
          <img src="/img/slider-1.png" />
        </figure>
        <div class="content">
          <p class="category">
            Servicios
          </p>
          <h2>
            INNOVA NEGOCIOS
          </h2>
          <p class="description">
            <!-- 20 -->
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
            facere ipsa blanditiis quidem dignissimos enim quam corrupti
            praesentium ipsam assumenda?
          </p>
          <div class="more">
            <button>
              Ver
            </button>
            <button>
              <i class="fa-solid fa-play"></i>
              Consultar
            </button>
          </div>
        </div>
      </div>
      <div class="item">
        <figure>
          <img src="/img/slider-1.png" />
        </figure>
        <div class="content">
          <p class="category">
            Servicios
          </p>
          <h2>
            TIENDA INNOVA
          </h2>
          <p class="description">
            <!-- 20 -->
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
            facere ipsa blanditiis quidem dignissimos enim quam corrupti
            praesentium ipsam assumenda?
          </p>
          <div class="more">
            <button>
              Ver
            </button>
            <button>
              <i class="fa-solid fa-play"></i>
              Consultar
            </button>
          </div>
        </div>
      </div>
      <div class="item">
        <figure>
          <img src="/img/slider-1.png" />
        </figure>
        <div class="content">
          <p class="category">
            Servicios
          </p>
          <h2>
            MANUAL INNOVA
          </h2>
          <p class="description">
            <!-- 20 -->
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
            facere ipsa blanditiis quidem dignissimos enim quam corrupti
            praesentium ipsam assumenda?
          </p>
          <div class="more">
            <button>
              Ver
            </button>
            <button>
              <i class="fa-solid fa-play"></i>
              Consultar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="arrows">
      <button id="next"><i class="bi bi-arrow-left"></i></button>
      <button id="prev"><i class="bi bi-arrow-right"></i></button>
    </div>
    <div class="indicators">
      <div class="number">02</div>
      <ul>
        <li class="active"></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </section>
  <section class="otra-seccion">
    <div class="container py-5">
      <div class="row">
        <div class="col-6">
          <h2>Otras secciones</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Cupiditate, sunt minima qui culpa quos sint aspernatur ratione
            explicabo enim consequatur aut, est quis nulla facere itaque
            exercitationem eius. Explicabo, ducimus!</p>
        </div>
        <div class="col-6">
          <h2>Otras secciones</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Cupiditate, sunt minima qui culpa quos sint aspernatur ratione
            explicabo enim consequatur aut, est quis nulla facere itaque
            exercitationem eius. Explicabo, ducimus!</p>
        </div>
      </div>

    </div>

  </section>
</div>

<script src="/js/index.js"></script>