<div>
    <div id="sideMenu" class="menu-colapsado">
        {{!-- Header --}}
        <div id="cabecera">
            <div id="titulo"><span>SOFTWARE INNOVA</span></div>
            <div id="menuBtn">
                <div class="btn-hamburger"></div>
                <div class="btn-hamburger"></div>
                <div class="btn-hamburger"></div>
            </div>
        </div>
        {{!-- Perfil --}}
        <div id="perfil">
            <div id="foto"><img src="/img/perfil.png" alt="" ></div>
            <div id="nombre"><span>INIVTADO</span></div>
        </div>
        {{!-- Items --}}
        <div id="menuItems">
            <div class="item">
                <a href="#">
                    <div class="icono"><img src="/icons/usuarios.png" alt="" ></div>
                    <div class="titulo"><span>Usuarios</span></div>
                </a>
            </div>
            <div class="item-separator">
            </div>
            <div class="item">
                <a href="#">
                    <div class="icono"><img src="/icons/asesoria.png" alt="" ></div>
                    <div class="titulo"><span>Asesoria</span></div>
                </a>
            </div>
            <div class="item-separator">
            </div>
            <div class="item">
                <a href="#">
                    <div class="icono"><img src="/icons/incidentes.png" alt="" ></div>
                    <div class="titulo"><span>Incidentes</span></div>
                </a>
            </div>
            <div class="item-separator">
            </div>
            <div class="item">
                <a href="#">
                    <div class="icono"><img src="/icons/valoracion.png" alt="" ></div>
                    <div class="titulo"><span>Valoración</span></div>
                </a>
            </div>
            <div class="item-separator">
            </div>
            <div class="item">
                <a href="#">
                    <div class="icono"><img src="/icons/configuracion.png" alt="" ></div>
                    <div class="titulo"><span>Configuración</span></div>
                </a>
            </div>
            <div class="item-separator">
            </div>
            <div class="item">
                <a href="#">
                    <div class="icono"><img src="/icons/reportes.png" alt="" ></div>
                    <div class="titulo"><span>Reportes</span></div>
                </a>
            </div>
        </div>
    </div>
    {{!-- Contenedor principal --}}
    <div id="contenedorPrincipal"></div>
        <div id="cardIndicadorInvitado">
            {{!-- contenido de los indicadores --}}
        </div>
        <div id="cardOtraSección">
            {{!-- contenido de otros contenidos --}}
        </div>
    </div>
</div>