th<div>
    <div id="sideMenu" class="menu-colapsado">
        {{!-- Header --}}
        <div id="cabecera">
            <div id="titulo"><span>SOFTWARE INNOVA</span></div>
            <div id="menuBtn">
                <div class="btn-hamburger"></div>
                <div class="btn-hamburger"></div>
                <div class="btn-hamburger"></div>
            </div>
        </div>
        {{!-- Perfil --}}
        <div id="perfil">
            <div id="foto"><img src="/img/perfil.png" alt="" ></div>
            <div id="nombre"><span>INIVTADO</span></div>
        </div>
        {{!-- Items --}}
        <div id="menuItems">
            <div class="item">
                <a href="#">
                    <div class="icono"><img src="/icons/usuarios.png" alt="" ></div>
                    <div class="titulo"><span>Usuarios</span></div>
                </a>
            </div>
            <div class="item-separator">
            </div>
            <div class="item">
                <a href="#" id="btnMenuAsesoria">
                    <div class="icono"><img src="/icons/asesoria.png" alt="" ></div>
                    <div class="titulo"><span>Asesoria</span></div>
                </a>
            </div>
            <div class="item-separator">
            </div>
            <div class="item">
                <a href="#">
                    <div class="icono"><img src="/icons/incidentes.png" alt="" ></div>
                    <div class="titulo"><span>Incidentes</span></div>
                </a>
            </div>
            <div class="item-separator">
            </div>
            <div class="item">
                <a href="#">
                    <div class="icono"><img src="/icons/valoracion.png" alt="" ></div>
                    <div class="titulo"><span>Valoración</span></div>
                </a>
            </div>
            <div class="item-separator">
            </div>
            <div class="item">
                <a href="#">
                    <div class="icono"><img src="/icons/configuracion.png" alt="" ></div>
                    <div class="titulo"><span>Configuración</span></div>
                </a>
            </div>
            <div class="item-separator">
            </div>
            <div class="item">
                <a href="#">
                    <div class="icono"><img src="/icons/reportes.png" alt="" ></div>
                    <div class="titulo"><span>Reportes</span></div>
                </a>
            </div>
        </div>
    </div>
    {{!-- Contenedor principal --}}
    <section id="contenedorPrincipal">
        <div class="row">
            <div class="col">
                {{!-- CARD REACTIVO --}}
                <div id="cardReactivo">
                    <div class="continer">
                        <div class="row">
                            <div class="col">
                                <div>
                                    <img src="" alt="">
                                    <span class="numero-indicador">2</span>
                                    <span class="card-incidente-nuevo">Nuevos incidentes</span>
                                </div>
                            </div>
                            <div class="col">
                                
                            </div>
                            <div class="col">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <template class="templateAsesoria">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <span>Hola Insectos</span>
                            </div>
                        </div>
                    </div>
                </template> 
            </div>
        </div>
    </section>
</div>

<script src="/js/invitado.js"></script>