<div>
    <div id="sideMenu" class="menu-colapsado">
        {{!-- Header --}}
        <div id="cabecera">
            <div id="titulo"><span>SOFTWARE INNOVA</span></div>
            <div id="menuBtn">
                <div class="btn-hamburger"></div>
                <div class="btn-hamburger"></div>
                <div class="btn-hamburger"></div>
            </div>
        </div>
        {{!-- Perfil --}}
        <div id="perfil">
            <div id="foto"><img src="/img/perfil.png" alt=""></div>
            <div id="nombre"><span>CLIENTE</span></div>
        </div>
        {{!-- Items --}}
        <div id="menuItems">
            <div class="item">
                <a href="#" id="btnMenuIncidentes">
                    <div class="icono"><img src="/icons/incidentes.png" alt=""></div>
                    <div class="titulo"><span>Incidentes</span></div>
                </a>
            </div>
            <div class="item-separator">
            </div>
            <div class="item">
                <a href="#" id="btnMenuReportes">
                    <div class="icono"><img src="/icons/reportes.png" alt=""></div>
                    <div class="titulo"><span>Reportes</span></div>
                </a>
            </div>
            <div class="item-separator">
            </div>
            <div class="item">
                <a href="#" id="btnMenuConfiguracion">
                    <div class="icono"><img src="/icons/configuracion.png" alt=""></div>
                    <div class="titulo"><span>Configuracion</span></div>
                </a>
            </div>
        </div>
    </div>

    {{!-- Contenedor principal --}}
    <section id="contenedorPrincipal">
        <div class="row">
            <div class="col">
                {{!-- CARD REACTIVO --}}
                <div id="cardReactivo">
                    <div class="continer">
                        <div id="cardIndicadorDashboard" class="row d-flex justify-content-around card-dashboard">
                            <div class="col-auto text-center my-lg-4 p-3 card-indicador card-colo1">
                                <div class="d-flex justify-content-between">
                                    <img src="/img/pendientes.png" alt="" width="60px">
                                    <span class="indicador-nuevo-incidente mt-2">12</span>
                                </div>
                                <div class="pt-1">
                                    <span>PENDIENTES</span>
                                </div>
                            </div>
                            <div class="col-auto text-center my-lg-4 p-3 card-indicador card-colo2">
                                <div class="d-flex justify-content-between">
                                    <img src="/img/enCurso.png" alt="" width="50px">
                                    <span class="indicador-nuevo-incidente mt-2">12</span>
                                </div>
                                <div class="pt-3">
                                    <span>EN CURSO</span>
                                </div>
                            </div>
                            <div class="col-auto text-center my-lg-4 p-3 card-indicador card-colo3">
                                <div class="d-flex justify-content-between">
                                    <img src="/img/resueltos.png" alt="" width="50px">
                                    <span class="indicador-nuevo-incidente mt-2">12</span>
                                </div>
                                <div class="pt-3">
                                    <span>RESUELTOS</span>
                                </div>
                            </div>
                            <div class="col-auto text-center my-lg-4 p-3 card-indicador card-colo4">
                                <div class="d-flex justify-content-between">
                                    <img src="/img/total.png" alt="" width="50px">
                                    <span class="indicador-nuevo-incidente mt-2">12</span>
                                </div>
                                <div class="pt-3">
                                    <span>TOTAL</span>
                                </div>
                            </div>
                        </div>
                    </div>



                    {{!-- Ultimos Incidentes --}}
                    <div class="card-incidentes">
                        <h2>Ultimos Incidentes</h2>

                        <div class="cabezaTabla">
                            <div class="cabezaTabla-numero">Nro.</div>
                            <div class="cabezaTabla-incidente">Incidente</div>
                            <div class="cabezaTabla-detalles">Detalles</div>
                            <div class="cabezaTabla-nombreEmpresa">Empresa</div>
                            <div class="cabezaTabla-fecha">Fecha</div>
                            <div class="cabezaTabla-estado">Estado</div>
                            <div class="cabezaTabla-opciones">Opciones</div>
                        </div>

                        <div class="incidente">

                            <div class="item numIncidente">
                                <p class="titulos-lista">Nro.</p>
                                <p class="detalles-lista">023</p>
                            </div>

                            <div class="item nombreIncidente">
                                <p class="titulos-lista">Incidente</p>
                                <p class="detalles-lista">Problema con la actualizacíon del inventario</p>
                            </div>

                            <div class="item detallesIncidente">
                                <p class="titulos-lista">Detalles</p>
                                <p class="detalles-lista">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos
                                    quo esse placeat nam accusantium omnis culpa, reprehenderit hic magnam doloremque
                                    suscipit nostrum quod quidem, odio vitae nulla facilis porro dignissimos?</p>
                            </div>

                            <div class="item nombreEmpresa">
                                <p class="titulos-lista">Empresa</p>
                                <p class="detalles-lista">Fierrazos AQP</p>
                            </div>

                            <div class="item fechaIncidente">
                                <p class="titulos-lista">Fecha</p>
                                <p class="detalles-lista">18/09/24</p>
                            </div>

                            <div class="item estadoIncidente">
                                <p class="titulos-lista">Estado</p>
                                <p class="detalles-lista estado-incidente-pendiente">Pendiente</p>
                            </div>

                            <div class="item opcionesIncidente">
                                <p class="titulos-lista">Opciones</p>
                                <div id="contenedorOpciones">
                                    <p id="btnEditar"><i class="bi bi-pencil-square"></i>Editar</p>
                                    <p id="btnDetalles"></i>Más detalles</p>
                                </div>
                            </div>
                        </div>

                        <div class="incidente">

                            <div class="item numIncidente">
                                <p class="titulos-lista">Nro.</p>
                                <p class="detalles-lista">023</p>
                            </div>

                            <div class="item nombreIncidente">
                                <p class="titulos-lista">Incidente</p>
                                <p class="detalles-lista">Problema con la actualizacíon del inventario</p>
                            </div>

                            <div class="item detallesIncidente">
                                <p class="titulos-lista">Detalles</p>
                                <p class="detalles-lista">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos
                                    quo esse placeat nam accusantium omnis culpa, reprehenderit hic magnam doloremque
                                    suscipit nostrum quod quidem, odio vitae nulla facilis porro dignissimos?</p>
                            </div>

                            <div class="item nombreEmpresa">
                                <p class="titulos-lista">Empresa</p>
                                <p class="detalles-lista">Fierrazos AQP</p>
                            </div>

                            <div class="item fechaIncidente">
                                <p class="titulos-lista">Fecha</p>
                                <p class="detalles-lista">18/09/24</p>
                            </div>

                            <div class="item estadoIncidente">
                                <p class="titulos-lista">Estado</p>
                                <p class="detalles-lista estado-incidente-en-curso">Pendiente</p>
                            </div>

                            <div class="item opcionesIncidente">
                                <p class="titulos-lista">Opciones</p>
                                <div id="contenedorOpciones">
                                    <p id="btnEditar"><i class="bi bi-pencil-square"></i>Editar</p>
                                    <p id="btnDetalles"></i>Más detalles</p>
                                </div>
                            </div>
                        </div>

                        <div class="incidente">
                            <div class="item numIncidente">
                                <p class="titulos-lista">Nro.</p>
                                <p class="detalles-lista">023</p>
                            </div>

                            <div class="item nombreIncidente">
                                <p class="titulos-lista">Incidente</p>
                                <p class="detalles-lista">Problema con la actualizacíon del inventario</p>
                            </div>

                            <div class="item detallesIncidente">
                                <p class="titulos-lista">Detalles</p>
                                <p class="detalles-lista">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos
                                    quo esse placeat nam accusantium omnis culpa, reprehenderit hic magnam doloremque
                                    suscipit nostrum quod quidem, odio vitae nulla facilis porro dignissimos?</p>
                            </div>

                            <div class="item nombreEmpresa">
                                <p class="titulos-lista">Empresa</p>
                                <p class="detalles-lista">Fierrazos AQP</p>
                            </div>

                            <div class="item fechaIncidente">
                                <p class="titulos-lista">Fecha</p>
                                <p class="detalles-lista">18/09/24</p>
                            </div>

                            <div class="item estadoIncidente">
                                <p class="titulos-lista">Estado</p>
                                <p class="detalles-lista estado-incidente-resuelto">Pendiente</p>
                            </div>

                            <div class="item opcionesIncidente">
                                <p class="titulos-lista">Opciones</p>
                                <div id="contenedorOpciones">
                                    <p id="btnEditar"><i class="bi bi-pencil-square"></i>Editar</p>
                                    <p id="btnDetalles"></i>Más detalles</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- Template contenido Configuración --}}
                {{!-- Card Izquierdo --}}
                <template id="templateConfiguracion">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <span id="tituloConfiguracion"></span>
                                <div class="configuracion">
                                    <div class="card-configuracion">
                                        <h2>Configuración de la Cuenta</h2>
                                        <div class="card-izquierdo-derecho">
                                            <div class="card-izquierdo">
                                                <img src="/img/perfil.png" alt="">
                                                <p class="nombre-usuario">Carlitos Dominguez Perez</p>
                                                <p class="rol-usuario">Soporte Técnico</p>
                                            </div>

                                            {{!-- Card Derecho --}}

                                            <div class="card-derecho">
                                                <h2>Perfil de Usuario</h2>

                                                <div class="perfil">
                                                    <div class="perfil-nombre">
                                                        <span>Nombre:</span>
                                                        <input class="cabina-texto" type="text" disabled>
                                                    </div>


                                                    <div class="perfil-telefono">
                                                        <span>Telefono:</span>
                                                        <input class="cabina-texto" type="text" disabled>
                                                    </div>

                                                    <div class="perfil-nacimiento">
                                                        <span>Fecha de Nacimiento:</span>
                                                        <input class="cabina-texto" type="date" disabled>
                                                    </div>

                                                    <div class="perfil-password">
                                                        <span>Contraseña:</span>
                                                        <input class="cabina-texto" type="password" disabled>
                                                    </div>

                                                    <!-- Botón para abrir el modal -->
                                                    <div class="btn-edit">
                                                        <button type="button" class="btn btn-dark"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#btn-editar">Editar</button>

                                                        <!-- Modal -->
                                                        <div class="modal fade" id="btn-editar" tabindex="-1"
                                                            aria-labelledby="miModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" id="miModalLabel">
                                                                                Editar Perfil
                                                                            </h5>
                                                                            <button type="button" class="btn-close"
                                                                                data-bs-dismiss="modal"
                                                                                aria-label="Cerrar"></button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <form id="formulario-editar">
                                                                                <div class="card-edit">
                                                                                    <h2>Perfil de Usuario</h2>

                                                                                    <div class="perfileditar">
                                                                                        <div
                                                                                            class="perfileditar-nombre">
                                                                                            <span>Nombre:</span>
                                                                                            <input class="cabina-texto"
                                                                                                type="text">
                                                                                        </div>

                                                                                        <div
                                                                                            class="perfileditar-telefono">
                                                                                            <span>Telefono:</span>
                                                                                            <input class="cabina-texto"
                                                                                                type="text">
                                                                                        </div>

                                                                                        <div
                                                                                            class="perfileditar-nacimiento">
                                                                                            <span>Fecha de
                                                                                                Nacimiento:</span>
                                                                                            <input class="cabina-texto"
                                                                                                type="date">
                                                                                        </div>

                                                                                        <div
                                                                                            class="perfileditar-password">
                                                                                            <span>Contraseña:</span>
                                                                                            <input
                                                                                                class="cabina-texto"
                                                                                                type="password">
                                                                                        </div>

                                                                                        <div
                                                                                            class="perfileditar-confirmpassword">
                                                                                            <span>Confirmar
                                                                                                Contraseña:</span>
                                                                                            <input
                                                                                                class="cabina-texto"
                                                                                                type="password">
                                                                                        </div>

                                                                                    </div>
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="button"
                                                                                        class="btn btn-secondary"
                                                                                        data-bs-dismiss="modal">Cerrar</button>
                                                                                    <button type="submit"
                                                                                        class="btn btn-success">Guardar
                                                                                        cambios</button>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </section>
</div>


<script src="/js/soporte.js"></script>