<div></div>
    <div id="sideMenu" class="menu-colapsado">
        {{!-- Header --}}
        <div id="cabecera">
            <div id="titulo"><span>SOFTWARE INNOVA</span></div>
            <div id="menuBtn">
                <div class="btn-hamburger"></div>
                <div class="btn-hamburger"></div>
                <div class="btn-hamburger"></div>
            </div>
        </div>
        {{!-- Perfil --}}
        <div id="perfil">
            <div id="foto"><img src="/img/perfil.png" alt="" ></div>
            <div id="nombre"><span>SOPORTE</span></div>
        </div>
        {{!-- Items --}}
        <div id="menuItems">
            <div class="item">
                <a href="#">
                    <div class="icono"><img src="/icons/asesoria.png" alt="" ></div>
                    <div class="titulo"><span>Asesoria</span></div>
                </a>
            </div>
            <div class="item-separator">
            </div>
            <div class="item">
                <a href="#">
                    <div class="icono"><img src="/icons/reportes.png" alt="" ></div>
                    <div class="titulo"><span>Reportes</span></div>
                </a>
            </div>
            <div class="item-separator">
            </div>
            <div class="item">
                <a href="#">
                    <div class="icono"><img src="/icons/configuracion.png" alt="" ></div>
                    <div class="titulo"><span>Configuración</span></div>
                </a>
            </div>
            <div class="item-separator">
            </div>
        </div>
    </div>

    <div></div>
    <div class="titulo-P">
        <span> BIENVENIDOS AL SISTEMA DE SOPORTE</span>
    </div>

<section class="flex-container">
    <button class="caja c1">
        Nuevos incidentes
    </button>
    <button class="caja c2">
        En proceso
    </button>
    <button class="caja c3">
        incidentes resueltos
    </button>
</section>

